
{% extends 'base.html' %}

{% block title %}{{ blogpost.title }}{% endblock title %}
{% block nav-style %}navbar{% endblock nav-style %}

{% block middle-content %}   

    <h2>{{ blogpost.title }}</h2>
    </br>
		
		<!-- to enable html code in body_text -->
		{% autoescape off %}
			{{ blogpost.body_text }}
		{% endautoescape %}
		
		<div class="row-sm-2">
			
			<div class= "col-sm-8"></div>
					
			<div class= "col-sm-4">
				</br>
				<p class="text-muted">published {{ blogpost.pub_date }}</p>
				
			</div>
			
		</div>
			<button data-toggle="collapse" data-target="#comment-collapse">
				Comment
			</button>
			</br>
			<div id="comment-collapse" class="collapse">
			<form action="{% url 'blog:detail' blogpost.id %}" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				
				<div class="fieldWrapper">
					
					{{ form.commentee.errors }}
					<label for="{{ form.commentee.id_for_label }}"></br>Name</label><br>
					{{ form.commentee }}
					
				</div>
				
				<div class="fieldWrapper">
					
					{{ form.comment_text.errors }}
					<label for="{{ form.comment_text.id_for_label }}">Comment</label><br>
					{{ form.comment_text }}
					
				</div>
				
				<input type="submit" value="Submit" />
			</form>
			</div>
		
		
		<br />
		{% for comment in blogpost.comment_set.all reversed %}
				
			<div class="panel panel-default comment-panel" >
				<div class="panel-heading"><b>{{ comment.commentee }}  wrote:</b></div>
				<div class="panel-body">{{ comment.comment_text}}</div>
				<br />
				<div class="panel-footer fixed-panel"><p class="text-muted"><span style="float:right">{{ comment.pub_date}}</span></p></div> 
			</div>
		{% endfor %}
		

{% endblock middle-content %}
