
<!DOCTYPE html>
<html lang="en">
  <head>
	<title>{{ blogpost.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	
	
  </head>
  <body>
	  
	<div class="col-sm-12">
		
		<div class="row-sm-2"></div>
	
	</div>
	
	<div class="col-sm-2">
		<div class="row-sm-12"></div>
	</div>
	
	<div class="col-sm-7">
		
		<h2>{{ blogpost.title }}</h2>
		
		<!-- to enable html code in body_text -->
		{% autoescape off %}
			{{ blogpost.body_text }}
		{% endautoescape %}
		
		<div class="row-sm-2">
			
			<div class= "col-sm-8"></div>
					
			<div class= "col-sm-4">
				
				<p class="text-muted">published {{ blogpost.pub_date }}</p>
				
			</div>
			
		</div>
		
		
			
			<form action="{% url 'blog:detail' blogpost.id %}" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				
				<div class="fieldWrapper">
					
					{{ form.commentee.errors }}
					<label for="{{ form.commentee.id_for_label }}">Name</label><br>
					{{ form.commentee }}
					
				</div>
				
				<div class="fieldWrapper">
					
					{{ form.comment_text.errors }}
					<label for="{{ form.comment_text.id_for_label }}">Comment</label><br>
					{{ form.comment_text }}
					
				</div>
				
				<input type="submit" value="Submit" />
			</form>
			
		
		
		<br />
		{% for comment in blogpost.comment_set.all reversed %}
				
			<b>{{ comment.commentee }}</b> wrote: <br />
			
			{{ comment.comment_text}} <br />
			
			<p class="text-muted">{{ comment.pub_date}}</p>  <br />
				
		{% endfor %}
		
	</div>
	
	<div class="col-sm-2">
		
		<div class="row-sm-12"></div>
		
	</div>
  </body>
</html>
